.debug {
    border: 1px solid red;
}

body {
    font-family: 'Work Sans', sans-serif;
}

img {
    max-width: 100%;
}


#navbar {
    background-color: #2c3e50;
}

#navbar a:first-of-type,
h1 {
    font-weight: 500;
}

.nav-item,
h1 {
    text-transform: uppercase;
}





#start {
    text-align: center;
}

#start img {
    width: 200px;


}

li {
    list-style: none;
}


footer span {
    color: #1abc9c;
}


/* colors */

.bg-aqua {
    background-color: #1abc9c;
}

.bg-blue {
    background-color: #3a546d;
}

.bg-dark-blue {
    background-color: #2c3e50;
}